{% if short_summary %}
/// {{ short_summary }}
{% endif %}
/**
{% if deprecation_warning %}
{% if deprecation_warning is string %}
 * {{ deprecation_warning }}
{% else %}
 *
 * .. deprecated:: {{ deprecation_warning.version.deprecated_in }}
 *                `{{ deprecation_warning.obj_old }}` will be removed in {{ package.name }} {{ deprecation_warning.version.removed_in }}, it is replaced by
 *                `{{ deprecation_warning.obj_new }}` because {{ deprecation_warning.reason }}
{% endif %}
{% endif %}
{% if extended_summary %}
{{ indent_line(extended_summary, ' * ') }}
{%- endif -%}
{%- if parameters %}
 *
{% for parameter in parameters %}
 * @param {{ parameter.name }}
{% if parameter.description %}
{{ indent_line(parameter.description, ' *        ') }}
{%- endif %}
{% endfor %}
{% endif %}
{% if returns %}
 * @return {{ returns.name }} {{ returns.short_description }}
{% endif %}
 */
{%- if deprecation_warning and deprecation_warning.full_reason %}

[[deprecated("{{ deprecation_warning.full_reason }}")]]
{%- elif deprecation_warning %}

[[deprecated]]
{%- endif -%}