{{ start }}
{% if short_summary %}
{{ short_summary }}

{% endif %}
{% if deprecation_warning %}
{% if deprecation_warning is string %}
{{ deprecation_warning }}
{% else %}
.. deprecated:: {{ deprecation_warnin

.version.deprecated_in }}
             `{{ deprecation_warning.obj_old }}` will be removed in {{ package.name }} {{ deprecation_warning.version.removed_in }}, it is replaced by
             `{{ deprecation_warning.obj_new }}` because {{ deprecation_warning.reason }}

{% endif %}
{% endif %}
{% if extended_summary %}
{{ extended_summary }}
{% endif %}
{% if parameters %}

Parameters
----------
{% for parameter in parameters %}
{{ parameter.name }}{% if parameter.type %} : {{ parameter.type }}
{% else %}

{% endif %}    {% filter indent(4) %}
{{ parameter.description }}
{% endfilter %}
{% endfor %}
{% endif %}
{% if attributes %}

Attributes
----------
{% for attribute in attributes %}
{{ attribute.name }}{% if attribute.type %} : {{ attribute.type }}
{% else %}

{% endif %}    {% filter indent(4) %}
{{ attribute.description }}
{% endfilter %}
{% endfor %}
{% endif %}
{% if returns %}
Returns
-------
{% if returns.type and returns.name %}
{{ returns.name }}{% if returns.type %} : {{ returns.type }}{% endif %}
{% elif returns.type %}
{{ returns.type }}
{% elif returns.name %}
{{ returns.name }}
{% endif %}
{% if returns.type or returns.name %}
{% filter indent(4, first=True) %}
{{ returns.description }}
{% endfilter %}
{% else %}
{{ returns.description }}
{% endif %}

{% endif %}
{% if yields %}
Yields
------
{% for yield in yields %}
{{ yield.name }} : {{ yield.type }}
    {{ yield.description }}
{% endfor %}
{% endif %}

{% if see_also %}
See Also
--------
{{ notes }}
{% endif %}

{% if notes %}
Notes
-----
{{ notes }}
{% endif %}

{% if references %}
References
----------
{{ references }}
{% endif %}

{% if examples %}
Examples
--------
{{ examples }}
{% endif %}
{{ end }}