{{ title }}
{{ repeat_str(title, '=') }}
{%- if structure.summary %}
{{ structure.summary }}
{% endif %}
{%- if structure.extended_summary %}
{{ structure.extended_summary }}
{% endif %}
{%- if structure.routine_listings %}
{{ structure.routine_listings }}
{% endif %}
{%- if structure.see_also %}
{{ structure.see_also }}
{% endif %}
{%- if structure.notes %}
{{ structure.notes }}
{% endif %}
{%- if structure.references %}
{{ structure.references }}
{% endif %}
{%- if structure.examples %}
{{ structure.examples }}
{% endif %}

{% if structure.modules %}
.. toctree::
   :maxdepth: 2
   :caption: Modules
{% for  submodule in structure.modules %}
   {{ submodule }}
{%- endfor -%}
{% endif -%}
{%- if structure.attributes %}
Attributes
----------
{% for  attribute in structure.attributes %}
.. autoattribute:: {{  namespace_list|join(".") }}.{{ function.name }}
   :members:
{% endfor %}
{% endif %}

{% if structure.functions %}
Functions
---------
.. currentmodule:: {{  namespace_list|join(".") }}

.. autosummary::
{% for  function in structure.functions %}
   {{ function.name }}
{% endfor %}

{% for  function in structure.functions %}
.. autofunction:: {{  namespace_list|join(".") }}.{{ function.name }}
{% endfor %}
{% endif %}

{% if structure.classes %}
Classes
-------
{% for  class in structure.classes %}
.. autoclass:: {{  namespace_list|join(".") }}.{{ class.name }}
   :members:
{% endfor %}
{% endif %}


