{{ short_summary }}
{% if deprecation_warning -%}
{% if deprecation_warning is string -%}
{{ deprecation_warning }}
{% else -%}
.. deprecated:: {{ deprecation_warning.version }}
            `{{ deprecation_warning.obj_old }}` will be removed in {{ deprecation_warning.name }} {{ deprecation_warning.removed_in }}, it is replaced by
            `{{ deprecation_warning.obj_new }}` because {{ deprecation_warning.reason }}

{% endif -%}
{% endif -%}
{% if extended_summary -%}
Extended Summary
----------------
{{ extended_summary }}
{% endif -%}
{% if parameters -%}
Parameters
----------
{% for parameter in parameters -%}
{{ parameter.name }} : {{ parameter.type }}
    {{ parameter.description }}
{% endfor -%}

{% endif %}
{% if returns -%}
Returns
-------
{% for return in returns -%}
{{ return.name }} : {{ return.type }}
    {{ return.description }}
{% endfor -%}

{% endif -%}
{% if yields %}
Yields
------
{% for yield in yields -%}
{{ yield.name }} : {{ yield.type }}
    {{ yield.description }}
{% endfor -%}
{% endif -%}